h1 {
    background-color: red;
	color: white;
	font-size: 24;
	font-style: Times New Roman;
	width: 350px;
}

body {
	background-color: blue;
}
tbody {
	color: black;
}
tr{
	color: black;
}
td{
	background-color: white;
}
